# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Entornos virtuales ----
env/
venv/
.venv/

# ---- Base de datos local ----
db.sqlite3
*.sqlite3

# ---- Django ----
*.env
/staticfiles/
media/
