{% extends "ProyectoWebApp/base.html" %}

{% block title %}Servicios{% endblock %}

{% block content %}
    <section class="servicios">
    <h1 style="color: white;">Nuestros Servicios</h1>
    <div class="servicios-grid">
        {% for servicio in servicios %}
        <div class="servicio-card"><p>     
            <h3 style="color: white;">{{ servicio.titulo }}</h3>
            <p style="color: white;">{{ servicio.contenido }}</p>
            <small style="color: white;">Creado: {{ servicio.created_at|date:"d/m/Y" }}</small>
            {% if servicio.imagen %}
                <p><img src="{{ servicio.imagen.url }}" alt="{{ servicio.titulo }}"></p>
            {% endif %}
        </div></p>    
        {% empty %}
        <p>No hay servicios disponibles.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}