{% extends "ProyectoWebApp/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="container" style="color:white">

    <form method="POST">
        {% csrf_token %}
        <div style="width:75%; margin:auto;"> 
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            
        {{ form|crispy }}
        
        <button type="submit" class="btn btn-success">Iniciar sesión</button>
        </div>
    </form>

</div>
{% endblock %}
